@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />

<RadzenLayout>
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenImage Path="images/piggy.png" AlternateText="logo" Style="width: 2.5rem;" />
            <RadzenLabel Text="@App.Name" class="rz-pl-4" />
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar @bind-Expanded="@sidebarExpanded">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Home" Icon="home" Path="/" />
            <RadzenPanelMenuItem Text="Categories" Icon="account_box" Path="/Categories" />
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            <AppErrorBoundary>
                @Body
            </AppErrorBoundary>
        </div>
    </RadzenBody>
</RadzenLayout>

@code {
    private bool sidebarExpanded = true;
}